Jinja2==2.6
Markdown==2.2.1
Pygments==1.5
Unidecode==0.04.9
blinker==1.2
distribute==0.6.30
docutils==0.9.1
feedgenerator==1.2.1
ghp-import==0.1.8
pelican==3.0.1
pytz==2012h
smartypants==1.6.0.3
typogrify==2.0.0
wsgiref==0.1.2
